In [2]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from pdb import set_trace

def split_into_chunks(df: pd.DataFrame, chunk_size: int=1, timestamp_col: str='timestamp') -> list[pd.DataFrame]:
    if chunk_size < 1:
        raise ValueError("chunk_size must be at least 1")
    unique_ts, ts_indices = np.unique(df[timestamp_col].values, return_index=True)
    unique_ts = unique_ts[np.argsort(ts_indices)] # Maintain original order, to preserve time relations

    chunk_indices = np.arange(len(unique_ts)) // chunk_size
    chunk_mapper = pd.Series(chunk_indices, index=unique_ts)
    
    chunk_ids = df[timestamp_col].map(chunk_mapper).values # Map original ts to chunk ids
    
    sort_idx = np.argsort(chunk_ids) # Find sorting indexes to preserve chunk_ids's shape
    sorted_chunk_ids = chunk_ids[sort_idx] # Reorder chunk_ids according to sorting indexes
    split_points = np.where(np.diff(sorted_chunk_ids))[0] + 1 # Detect the change between chunk_ids, where new chunk starts and split there
    chunks = np.split(df.iloc[sort_idx], split_points) # Split the dataframe into chunks by sort_idx
    
    return [chunk.sort_index() for chunk in chunks] # Restore original order within chunks

def generate_test_data(
    num_rows=100,
    num_columns=3,
    start_timestamp="2025-01-01 00:00:00",
    max_duplicates=3,
    time_frequency=10
):
    base_ts = [pd.Timestamp(start_timestamp) + timedelta(seconds=np.random.randint(1, time_frequency))
              for i in range(num_rows)]

    timestamps = []
    for ts in base_ts:
        timestamps.extend([ts] * np.random.randint(1, max_duplicates + 1))

    timestamps = np.random.choice(timestamps, size=num_rows)

    data = np.random.rand(num_rows, num_columns)
    columns = [f'col_{i}' for i in range(num_columns)]
    
    df = pd.DataFrame(data, columns=columns)
    df.insert(0, 'timestamp', timestamps)
    
    return df

In [7]:
test_df = generate_test_data(
    num_rows=200,
    num_columns=5,
    start_timestamp="2025-01-01 00:00:00",
    max_duplicates=5,
    time_frequency=10
)

print("Generated DataFrame:")
display(test_df)
print("\nTimestamps distribution between chunks:")
print(test_df['timestamp'].value_counts().sort_index())

chunks = split_into_chunks(test_df, 2)

print(f"\nNumber of chunks created: {len(chunks)}")
_ = [print(f"\nChunk {i} | Timestamps: {chunk.timestamp.unique()} | Rows: {len(chunk)}") for i, chunk in enumerate(chunks)]
for i in range(len(chunks)):
    print(f"\nHead of chunk {i}")
    print(chunks[i].sample(5))

Generated DataFrame:

              timestamp     col_0     col_1     col_2     col_3     col_4
0   2025-01-01 00:00:05  0.711485  0.557581  0.164389  0.473505  0.607735
1   2025-01-01 00:00:04  0.683196  0.833589  0.349409  0.882958  0.639881
2   2025-01-01 00:00:07  0.121159  0.013314  0.557835  0.122895  0.266255
3   2025-01-01 00:00:05  0.206433  0.955176  0.208173  0.640285  0.334138
4   2025-01-01 00:00:06  0.181188  0.977880  0.281319  0.749194  0.050339
..                  ...       ...       ...       ...       ...       ...
195 2025-01-01 00:00:03  0.768990  0.675231  0.219112  0.212412  0.652473
196 2025-01-01 00:00:04  0.838449  0.428258  0.214649  0.973914  0.072284
197 2025-01-01 00:00:02  0.233248  0.839193  0.487631  0.117524  0.787221
198 2025-01-01 00:00:05  0.701294  0.830080  0.443356  0.538522  0.626774
199 2025-01-01 00:00:04  0.037050  0.831358  0.660541  0.334920  0.481382

[200 rows x 6 columns]

Timestamps distribution between chunks:
timestamp
2025-01-01 00:00:01    24
2025-01-01 00:00:02    28
2025-01-01 00:00:03    27
2025-01-01 00:00:04    20
2025-01-01 00:00:05    16
2025-01-01 00:00:06    19
2025-01-01 00:00:07    27
2025-01-01 00:00:08    23
2025-01-01 00:00:09    16
Name: count, dtype: int64

Number of chunks created: 5

Chunk 0 | Timestamps: <DatetimeArray>
['2025-01-01 00:00:05', '2025-01-01 00:00:04']
Length: 2, dtype: datetime64[ns] | Rows: 36

Chunk 1 | Timestamps: <DatetimeArray>
['2025-01-01 00:00:07', '2025-01-01 00:00:06']
Length: 2, dtype: datetime64[ns] | Rows: 46

Chunk 2 | Timestamps: <DatetimeArray>
['2025-01-01 00:00:01', '2025-01-01 00:00:08']
Length: 2, dtype: datetime64[ns] | Rows: 47

Chunk 3 | Timestamps: <DatetimeArray>
['2025-01-01 00:00:03', '2025-01-01 00:00:02']
Length: 2, dtype: datetime64[ns] | Rows: 55

Chunk 4 | Timestamps: <DatetimeArray>
['2025-01-01 00:00:09']
Length: 1, dtype: datetime64[ns] | Rows: 16

Head of chunk 0
              timestamp     col_0     col_1     col_2     col_3     col_4
66  2025-01-01 00:00:05  0.257424  0.704792  0.919022  0.575523  0.723431
25  2025-01-01 00:00:04  0.407242  0.178148  0.756097  0.944486  0.568962
157 2025-01-01 00:00:04  0.309004  0.724844  0.758301  0.169682  0.502683
125 2025-01-01 00:00:04  0.170636  0.543549  0.701285  0.674885  0.316710
163 2025-01-01 00:00:05  0.464892  0.418431  0.009335  0.662728  0.358833

Head of chunk 1
              timestamp     col_0     col_1     col_2     col_3     col_4
84  2025-01-01 00:00:06  0.697518  0.226289  0.999254  0.229372  0.616296
48  2025-01-01 00:00:07  0.358750  0.293747  0.200375  0.125752  0.051667
190 2025-01-01 00:00:06  0.702919  0.404270  0.342926  0.286925  0.489812
76  2025-01-01 00:00:06  0.757515  0.604349  0.713674  0.265761  0.146186
5   2025-01-01 00:00:06  0.676807  0.487547  0.709735  0.815167  0.393780

Head of chunk 2
              timestamp     col_0     col_1     col_2     col_3     col_4
176 2025-01-01 00:00:08  0.394381  0.738326  0.616404  0.767121  0.929415
9   2025-01-01 00:00:08  0.620511  0.714565  0.894757  0.680919  0.793970
75  2025-01-01 00:00:01  0.534842  0.280808  0.078222  0.711620  0.175772
17  2025-01-01 00:00:01  0.629084  0.488795  0.388982  0.583580  0.190738
31  2025-01-01 00:00:01  0.716038  0.275779  0.683873  0.647425  0.659678

Head of chunk 3
              timestamp     col_0     col_1     col_2     col_3     col_4
147 2025-01-01 00:00:02  0.391374  0.277338  0.317159  0.539611  0.514277
88  2025-01-01 00:00:02  0.225240  0.582864  0.294961  0.421055  0.025114
129 2025-01-01 00:00:03  0.217990  0.411315  0.402728  0.706244  0.552604
21  2025-01-01 00:00:02  0.805566  0.897384  0.006522  0.103736  0.132357
172 2025-01-01 00:00:02  0.763788  0.952143  0.235842  0.252716  0.231615

Head of chunk 4
              timestamp     col_0     col_1     col_2     col_3     col_4
155 2025-01-01 00:00:09  0.545825  0.790811  0.730840  0.009690  0.761811
181 2025-01-01 00:00:09  0.289300  0.846049  0.309326  0.673307  0.207363
108 2025-01-01 00:00:09  0.213092  0.399724  0.441542  0.738504  0.765949
184 2025-01-01 00:00:09  0.340358  0.396282  0.922770  0.403401  0.270931
191 2025-01-01 00:00:09  0.762455  0.174903  0.433610  0.229704  0.983120

/opt/conda/lib/python3.9/site-packages/numpy/_core/fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)